@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background-color: #0f0f0f;
  --secondary-background-color: #070707;
  --green-400: #4ade80;

  background-color: var(--primary-background-color);
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4ade80 ;
  border-radius: 6px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #35a85f;
}


body {
  min-width: 320px;
}

.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  font-size: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}